@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    09XXXXXXXXX
</address>

<address>
    <strong>Student 1:</strong>   <a href="521K0167@student.tdtu.edu.vn">521K0167@student.tdtu.edu.vn</a><br />
    <strong>Student 2:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>