
@{
    ViewBag.Title = "CrT";
}

<h2>PHONE MOBILE</h2>
<div>
    <div>@Html.ActionLink("Product List", "Index", "Products")</div>
    <div>@Html.ActionLink("Agent List", "Index", "Agents")</div>
    <div>@Html.ActionLink("Order List", "Index", "OrdersAdmin")</div>
    <div>@Html.ActionLink("Reseller List", "Index", "Resellers")</div>
</div>

