@model CreditTaskMVC.Models.Order

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h3>Bank Account:</h3>
<h3>xxxxxxxxxxxxx</h3>

<img width="10%" height="10%" src="~/image/QR.png" />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

